singularity {
  enabled = true
  autoMounts = true
}

process {
    errorStrategy = 'finish'
    
    withLabel: 'julia' {
        container = "library://dialvarezs/default/10x-consensus:latest"
    }

    withName: 'trimAdaptersCutAdapt' {
        container = 'quay.io/biocontainers/3.0--py37hf01694f_0'
    }

    withName: 'trimAdaptersFastp' {
        container = 'quay.io/biocontainers/fastp:0.20.1--h8b12597_0'
    }

    withName: 'mapping' {
        container = 'quay.io/biocontainers/minimap2:2.17--hed695b0_3'
    }

    withName: 'sortAndConvert' {
        container = 'quay.io/biocontainers/samtools:1.11--h6270b1f_0'
    }

    withName: 'sortConsensus' {
        container = 'quay.io/biocontainers/seqkit:0.14.0--0'
    }
}
