executor {
    name = 'slurm'
    pollInterval = '5sec'
    queueSize = 300
}


singularity {
  enabled = true
  autoMounts = true
}

report {
    enable = true
    file = 'output/report.html'
}

timeline {
    enable = true
    file = 'output/timeline.html'
}

process {
    errorStrategy = 'finish'
    
    // containers
    withLabel: clustalo     { container = 'quay.io/biocontainers/clustalo:1.2.4--h1b792b2_4' }
    withLabel: fasplit      { container = 'quay.io/biocontainers/ucsc-fasplit:377--h446ed27_1' }
    withLabel: fastp        { container = 'quay.io/biocontainers/fastp:0.20.1--h2e03b76_1' }
    withLabel: fastqc       { container = 'quay.io/biocontainers/fastqc:0.11.9--hdfd78af_1' }
    withLabel: immcantation { container = 'immcantation/suite:4.1.0' }
    withLabel: julia        { container = 'registry.gitlab.com/catg/10x-bcr-consensus:latest' }
    withLabel: minimap2     { container = 'quay.io/biocontainers/minimap2:2.20--h5bf99c6_0' }
    withLabel: multiqc      { container = 'quay.io/biocontainers/multiqc:1.10.1--pyhdfd78af_1' }
    withLabel: samtools     { container = 'quay.io/biocontainers/samtools:1.12--h9aed4be_1' }
}