singularity {
  enabled = true
  autoMounts = true
}

report {
    enable = true
    file = 'output/report.html'
}

timeline {
    enable = true
    file = 'output/timeline.html'
}

process {
    errorStrategy = 'finish'
    
    // containers
    withName:  'getReferenceRegions'    { container = 'kleinstein/immcantation:3.0.0' }
    withName:  'mapping'                { container = 'quay.io/biocontainers/minimap2:2.17--hed695b0_3' }
    withName:  'referenceAlignment'     { container = 'quay.io/biocontainers/clustalo:1.2.4--he1b5a44_3' }
    withName:  'trimAdaptersCutAdapt'   { container = 'quay.io/biocontainers/cutadapt:3.0--py38h0213d0e_0' }
    withName:  'trimAdaptersFastp'      { container = 'quay.io/biocontainers/fastp:0.20.1--h8b12597_0' }
    withName:  'separateReferences'     { container = 'quay.io/biocontainers/ucsc-fasplit:377--h446ed27_1' }
    withLabel: 'julia'                  { container = 'library://dialvarezs/default/10x-consensus:latest' }
    withLabel: 'pandas'                  { container = 'quay.io/biocontainers/pandas:1.1.5' }
    withLabel: 'samtools'               { container = 'quay.io/biocontainers/samtools:1.11--h6270b1f_0' }
}